<section>
  <div class="container">
    <div class=" mt-4">
      <a href="/admin/addProduct" class="btn btn-outline-primary">Add product</a>
    </div>
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">Si No.</th>
          <th scope="col">Name of phone</th>
          <th scope="col">Description</th>
          <th scope="col">image</th>
        </tr>
      </thead>
      {{#each phone}}
      <tbody>
        <tr>
          <th id="tableRow" scope="row">1</th>
          <td>{{this.phone}}</td>
          <td>{{this.Description}}</td>
          <td><img style="height: 50px;width: 50px;" src="/images/{{this._id}}.jpg" alt="" srcset=""></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>