<section style="margin-top: 50px;">
    <div class="row ">
        {{#each phone}}
        <div class="col-md-3">
            <div class="card p-4" style="width: 18rem; height:30rem">

                <img src='/images/{{this._id}}.jpg' class="card-img-top imageCard" alt="..." style="height: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{this.phone}}</h5>
                    <p class="card-text">{{this.Description}}</p>
                    <a href="#" class="btn btn-primary">cart</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>